<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid19-Tracker Country Wice</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque laudantium nesciunt laborum incidunt quos aliquid deleniti mollitia quidem doloremque. Molestias repellat, doloremque blanditiis consequatur temporibus excepturi. Perspiciatis rem nam porro?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro iusto laborum sapiente cumque modi totam animi quos, nisi autem. Beatae officia cum nesciunt possimus quam reiciendis perspiciatis id quia iure.</p>
</div>